<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Destination : Edit</title>
</head>
<body>
<h3 layout:fragment="header">Destination : Edit</h3>
<div class="container"
     layout:fragment="content">
    <div class="alert alert-success"
         th:if="${globalMessage}"
         th:text="${globalMessage}">
        Some alert message
    </div>

    <div class="alert alert-danger"
         th:if="${errorMessage}"
         th:text="${errorMessage}">
        Some alert message
    </div>
    <form action="#"
          class="form-control-sm"
          id="createDestination"
          method="post"
          th:action="@{/destinations/edit/__${destination.id}__}"
          th:object="${destination}">
        <div class="alert alert-error"
             th:if="${#fields.hasErrors('*')}">
            <p th:each="error : ${#fields.errors('*')}"
               th:text="${error}">
                Validation error
            </p>
        </div>
        <p>
            <label>Label</label>
            <input
                    th:class="${#fields.hasErrors('label')} ? 'form-control field-error' : 'form-control'"
                    th:field="*{label}"
                    type="text"/>
        <p>
            <label>Host</label>
            <input th:class="${#fields.hasErrors('host')} ? 'form-control field-error' : 'form-control'"
                   th:field="*{host}"
                   type="text"/>

        <p>
            <label>Port</label>
            <input th:class="${#fields.hasErrors('port')} ? 'form-control field-error' : 'form-control'"
                   th:field="*{port}"
                   type="number"/>

        <p>
            <label>Timeout (msec)</label>
            <input th:class="${#fields.hasErrors('timeoutMsec')} ? 'form-control field-error' : 'form-control'"
                   th:field="*{timeoutMsec}"
                   type="number"/>
        <p>
        <div class="form-group">
            <label>Async</label>
            <input class="form-group" id="asyncDrop" th:field="*{async}"
                   type="checkbox" value="true">
        </div>
        <p>
        <div class="form-actions float-right" style="margin-top: 12px">
            <input class="btn btn-primary btn-sm" type="submit" value="Update"/>
        </div>
    </form>
</div>

</body>
</html>
