<html th:replace="~{layout :: layout(~{::title}, ~{::section})}">

<head>
    <title>GRIT Probe - Devices</title>
</head>

<body>
<section>

    <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
            <td>Name</td>
            <td>Enabled</td>
            <td>Updated</td>
            <td>Driver</td>
            <td>Interval</td>
            <td>Timeout</td>
            <td>Parameters</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${devices.isEmpty()}">
            <td colspan="3">
                No devices
            </td>
        </tr>
        <tr th:each="device : ${devices}">
            <td>
                <!--/*@thymesVar id="device" type="io.gritlabs.probe.domain.service.model.DeviceModel"*/-->
                <a href="view.html"
                   th:href="@{'/devices/' + ${device.getName()}}"
                   th:text="${device.getName()}">
                </a>
            </td>
            <!--/*@thymesVar id="device" type="io.gritlabs.probe.domain.service.model.DeviceModel"*/-->
            <td th:text="${device.isEnabled()}"></td>
            <td th:text="${device?.getDriver()?.getStatus()}"></td>
            <td th:text="${device?.getDriver()?.getUpdated()}"></td>
            <td th:text="${device.getDriverBeanName()}"></td>
            <td th:text="${device.getInterval()}"></td>
            <td th:text="${device.getTimeout()}"></td>
            <td th:text="${device.getParameters()}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>
