<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.w3.org/1999/html">

<head>
    <title>GRIT Probe - Device</title>
</head>

<body>
<section>
    <p>
    <div class="container">
        <!--/*@thymesVar id="device" type="io.gritlabs.probe.domain.service.model.DeviceModel"*/-->
        <h4 th:text="'Device ' + ${device.getName()}"></h4>
        <p></p>
        <div class="row row-cols-6 border border-2 rounded p-2" style="min-width:
        auto" th:if="${device.getActions().size > 0}">
            <th:block th:each="action: ${device.getActions()}">
                <div class="col">
                    <form class="form-control-sm" id="publishEvent" method="post"
                          th:action="@{/devices/__${device.getName()}__/event}">
                        <input hidden th:name="eventTopic" th:value="${action.getEventTopic()}">
                        <input hidden th:name="eventPayload" th:value="${action.getEventPayload()}">
                        <button class="btn btn-primary" data-bs-placement="top"
                                data-bs-toggle="tooltip" th:text="${action.getDisplayName()}"
                                th:title="${action.getDescription()}"
                                type="submit"></button>
                    </form>
                </div>
            </th:block>
        </div>
    </div>
    <p>
    <div class="row">
        <div class="col-sm-6">
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">Device</div>
                <div class="card-body">
                    <p>
                    <div class="mb-3">
                        <label class="form-label" for="device-name">Name</label>
                    <input class="form-control" disabled id="device-name" th:field="*{device.name}" type="text">
                    </div>

                    <p>
                        <!--                    <div class="mb-3">-->
                        <!--                        <label class="form-label" for="device-status">Status</label>-->
                        <!--                        <input class="form-control" disabled id="device-status"-->
                        <!--                               th:field="*{device.driver.status}"-->
                        <!--                               type="text">-->
                        <!--                    </div>-->
                        <!--                    <p>-->
                    <div class="mb-3">
                        <label class="form-label" for="device-updated">Updated</label>
                        <input class="form-control" disabled id="device-updated"
                               th:field="*{device.driver.updated}"
                               type="text">
                    </div>
                    <p>
                    <div class="mb-3">
                        <label class="form-label" for="device-driverBeanName">Driver</label>
                        <input class="form-control" disabled id="device-driverBeanName"
                               th:field="*{device.driverBeanName}"
                               type="text">
                    </div>
                    <p>
                    <div class="mb-3">
                        <label class="form-label" for="device-interval">Interval</label>
                        <input class="form-control" disabled id="device-interval"
                               th:field="*{device.getInterval()}"
                               type="text">
                    </div>
                    <p>
                    <div class="mb-3">
                        <label class="form-label" for="device-timeout">Timeout</label>
                        <input class="form-control" disabled id="device-timeout"
                               th:field="*{device.timeout}"
                               type="text">
                    </div>
                    <p>
                    <div class="mb-3">
                        <label class="form-label">Parameters</label>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Param</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <th:block th:each="parameter: ${device.getParameters()}">
                                <tr>
                                    <td th:text="${parameter?.getKey()}">...</td>
                                    <td th:text="${parameter?.getValue()}">...</td>
                                </tr>
                                <p>
                            </th:block>
                        </table>
                    </div>

                </div>
                <p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card text-dark bg-light mb-3">
                <div class="card-header">Telemetry</div>
                <div class="card-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Value</th>
                            <th scope="col">Type</th>
                        </tr>
                        </thead>
                        <th:block
                                th:each="point: ${device.getDriver()?.getTelemetry()?.getMeasurement()?.getPoints()}">
                            <tr>
                                <td th:text="${point.getName()}">...</td>
                                <td th:text="${point.getValue()}">...</td>
                                <td th:text="${point.getType()}">...</td>
                            </tr>
                            <p>
                        </th:block>
                    </table>

                    <label>Trace</label>
                    <p>
                    <div class="trace-area" th:text="${device.getDriver()?.getTelemetry()}"></div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
