<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
</head>
<body>
<h3 layout:fragment="header">Error</h3>

<div class="container" layout:fragment="content">
    <div class="alert alert-success"
         th:if="${globalMessage}"
         th:text="${globalMessage}">
        Some alert message
    </div>

    <h3 th:text="${errorMessage}"></h3>

</div>
</body>
</html>
