<!DOCTYPE HTML>
<html th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:replace="${title}">GRIT Probe</title>

    <link th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

    <div class="alert alert-success"
         th:if="${globalMessage}"
         th:text="${globalMessage}">
        Some alert message
    </div>

    <div class="alert alert-danger"
         th:if="${errorMessage}"
         th:text="${errorMessage}">
        Some alert message
    </div>
</head>
<body>

<div class="container">
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <a class="navbar-brand" href="#" th:href="@{/}">GRIT Probe</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/devices}">Devices</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div th:replace="${content}">
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.1.1/js/bootstrap.min.js}"></script>

</div>
</body>
</html>

